extends layout
 
block content


    div.splash
        div.container
            h1 Calendar Management
            h2 Settings
            hr
    br
    br
    form.form-horizontal.col-md-offset-1.col-md-6(action="/settings", method="POST")
        div.form-group
            label ID
            input.form-control(type="text", name="id",value=settings.id)
        div.form-group
            label Secret
            input.form-control(type="text", name="secret",value=settings.secret)
        div.form-group
            label Redirect URI
            input.form-control(type="text", name="redirect_uri",value=settings.redirect_uri)
        div.form-group
            label Year
            select.form-control(name="default_year")
                option(value="1") 1
                option(value="2") 2
        div.form-group
            div.col-sm-offset-2.col-sm-10
                input.btn.btn-default(type="submit", value="Save")
