.no-gutter > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}

.first {
    display: inline-block;
    font-family: 'Lato','Arial';
    font-weight: bold;
    width: 60px;
    margin: 10px;
}

#S7,#S8,#S9,#S10,#S11 {
    display:none;
}

#session2,#session3,#session4,#session5,#session6,#session7,#session8,#session9,
#session10,#session11,#session12,#session13,#session14,#session15,#session16,#session17,#session18,#session19,#session20 {
    display: none;
}

.calCourse {
 border: solid black 1px;
 border-radius: 10px;
 list-style-type:none;
 margin-top: 15px;
}

.calTitle {
    background-color: #000;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 2px 10px 2px 10px;
}

.calTitle a{
    text-decoration: none;
    color: #fff;
}

.calContent {
 list-style-type:none;
  padding-left: 10px;
}

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: -30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;
    
    text-align: center;
}

.textdivider h1 {
	padding-top: 70px;
	color: white;
	font-size: 30px;
}

.textdivider h2 {
	color: white;
	font-size: 20px;
}


.splash{
    padding:10em 0 2em;
    background-color:#141d27;
    background-image:url('/images/header.jpg');
    background-size:cover;
    background-attachment:fixed;
    color:#fff;
    text-align:center
}


